.header-container{
   background-color: rgba(249, 3, 7 , 0.8);
   border-radius: 40px;
   margin-top: 10px;
   margin-bottom: 10px;
   position: fixed;
   bottom: 0;
   right: 0;
   left: 0;
   top: 0;
}
.body-container{

  margin-left:20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.header-card{
  border-radius: 10px;
  background-color: rgba(255, 255, 255 , 0.9);
  margin-top: 5px;
  text-align: center;
}
.jumbotron{
 margin-left: 100px;
 margin-top: 50px;
 width: 40vw;
 height: 50vh ;
 border: 3px solid brown;
 padding: 10px;
 opacity: 0.8;
}
.form{
  background-color: white;
  margin-top: 50px;
  padding: 15px;
  border: 3px solid brown;
  opacity: 0.8;
}
.p{
  text-color: black;
}
.footer {
  display: block;

}
